.hp-top-banner {
  margin-top: 69px;
  height: 325px;
  color: white;
  padding-top: 40px;
}

#hp-top-banner-title {
  font-size: 32px;
  padding-left: 25px;
}

#hp-top-banner-txt {
  font-size: 26px;
  padding-left: 25px;
}

.hp-top-banner-img {
  position: absolute;
  height: 85px;
  right: 85px;
  bottom: 276px;
}

.hp-usp-cards {
  padding: 25px 0px;
}

.hp-usp-cards {
  text-align: center;
}

.hp-usp-card {
  padding-top: 15px;
  padding-bottom: 25px;
}

.hp-usp-card-design {
  height: 250px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,0.2);
  box-shadow: 0px 1px 6px rgba(0,0,0,0.2);
}

.hp-usp-card-design:hover {
  box-shadow: 0px 3px 12px rgba(0,0,0,0.2);
}

.hp-usp-card-title {
  font-weight: bolder;
  color: #209cee;
  font-size: 20px;
}

.hp-usp-card-content {
  padding: 10px;
  font-size: 13px;
  height: 200px;
  overflow: scroll;
  text-align: justify;
}

.hp-usp-card-content h2 {
  font-size: 16px;
  text-align: left;
  padding: 10px 0px;
}

.hp-more-content {
  padding: 25px 0px;
  height: 500px;
  background-size: cover!important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hp-more-content-txt {
  color: white;
  font-size: 48px;
  padding-left: 15px;
}

.hp-quotes {
  min-height: 350px;
}

.hp-quotes-img {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px 0px;
}

.hp-quotes-img img {
  max-width: 325px;
  border-radius: 20px;
}

.hp-quotes-txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px 0px;
}

.hp-quotes-txt-citation {
  padding: 0px 15px;
}


#hp-quotes-citation-source {
  font-size: 12px;
}
