.hp-top-banner {
  margin-top: 69px;
  height: 66vh;
  color: white;
  padding-top: 40px;
}

#hp-top-banner-title {
  font-size: 32px;
  padding-left: 25px;
}

#hp-top-banner-txt {
  font-size: 26px;
  padding-left: 25px;
}

.hp-usp-cards {
  padding: 25px 0px;
}

.hp-usp-cards {
  text-align: center;
}

.hp-usp-card {
  padding-top: 15px;
  padding-bottom: 25px;
}

.hp-usp-card-design {
  height: 250px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,0.2);
  box-shadow: 0px 1px 6px rgba(0,0,0,0.2);
}

.hp-usp-card-design:hover {
  box-shadow: 0px 3px 12px rgba(0,0,0,0.2);
}

.hp-usp-card-title {
  font-weight: bolder;
  color: #209cee;
}

.hp-usp-card-content {
  padding: 10px;
  font-size: 18px;
  height: 200px;
  overflow: scroll;
}

.hp-more-content {
  padding: 25px 0px;
  background-color: rgba(224,224,224,0.8);
}
