<div class="container-fluid">
  <div class="row hp-top-banner" style="background-image: linear-gradient(to right top, #209cee, #00c5fc, #00e6ce, #58fc78, #ffff00);">
    <div id="hp-top-banner-title">Is your digital advertising agency performing?
    </div>
    <div id="hp-top-banner-txt">
    Expect the very best from your partners</div>
  </div>
  <div class="hp-usp">
    <div class="row hp-usp-cards">
        <div class="hp-usp-card col-xs-12 col-md-4"><div class="hp-usp-card-design">Assess Agency Expertise</div>
        </div>
        <div class="hp-usp-card col-xs-12 col-md-4"><div class="hp-usp-card-design">Evaluate Service Quality</div>
        </div>
        <div class="hp-usp-card col-xs-12 col-md-4"><div class="hp-usp-card-design">Check the Pricing Model</div>
        </div>
    </div>
  </div>
</div>
