<div class="container-fluid">
  <div class="row hp-top-banner" style="background-image: linear-gradient(to right top, #209cee, #00c5fc, #00e6ce, #58fc78, #ffff00);">
    <div id="hp-top-banner-content">
      <div id="hp-top-banner-title">Is your digital advertising agency performing well?
      </div>
      <div id="hp-top-banner-txt">
      Expect the very best from your partners
      </div>
    </div>
    <%= image_tag("icons/target.svg", class: "hp-top-banner-img") %>
  </div>
  <div class="hp-usp">
    <div class="row hp-usp-cards">
      <div class="hp-usp-card col-xs-12 col-md-4">
        <div class="hp-usp-card-design">
          <div class="hp-usp-card-title">Assess Agency Expertise
          </div>
          <div class="hp-usp-card-content">
            <h2>Digital is evolving fast. Does your Agency as well?</h2>
            Large media holdings dates from the previous century. Their leaders grew up with radio, tv, not digital. Though they lead the Teams managing your campaigns. Are these Teams delivering on the exepertise you deserve?
          </div>
        </div>
      </div>
        <div class="hp-usp-card col-xs-12 col-md-4">
        <div class="hp-usp-card-design">
          <div class="hp-usp-card-title">Evaluate Service Quality
          </div>
          <div class="hp-usp-card-content">
            <h2>Digital is different. Does your Media Agency gets it?</h2>
            Many agencies grew up with offline communication as the cornerstone of their services. Does your agency fully understand the digital and more importantly help you understand it?
          </div>
        </div>
      </div>
      <div class="hp-usp-card col-xs-12 col-md-4">
        <div class="hp-usp-card-design">
          <div class="hp-usp-card-title">Check the Pricing Model
          </div>
          <div class="hp-usp-card-content">
            <h2>Digital is not about media volume. What's your pricing model?</h2>
            Media buying used to be about volume and lack of transparency. Where are you at with your agency? Fully transparent? Pay for service quality and results? Or still stuck in the old model?
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row hp-more-content" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.unsplash.com/photo-1511649475669-e288648b2339?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&dl=georgie-cobbs-459520-unsplash.jpg');">
    <div class="hp-more-content-txt">
      Improve your digital advertising agency deliveries
    </div>
  </div>
  <div class="row hp-quotes">
      <div class="hp-quotes-img col-xs-12 col-sm-6">
        <%= image_tag("nikki-mendonca.jpg") %>
      </div>
      <div class="hp-quotes-txt col-xs-12 col-sm-6">
        <div class="hp-quotes-txt-citation">
        Accenture's Nikki Mendonca: 'There is a lot of incompetence within the current marketing services industry'</div>
        <div id="hp-quotes-citation-source">The Drum, 17 July 2018</div>
      </div>
    </div>
</div>
